<% if User.current.allowed_to?(:global_view_catalogs, nil, :global => true) %>
  <div class="contextual">
    <%= link_to(t('attribute.action.new.title'), {:controller => 'attributes', :action => 'new'}, :class => 'icon icon-add') %>
    <%= link_to(t('catalog.global.title', count: 2), {:controller => 'catalogs', :action => 'index'}, :class => 'icon icon-list') if User.current.allowed_to?(:global_view_catalogs, nil, :global => true) %>
  </div>

  <h2><%= t('attribute.title', count: 2) %></h2>

  <%= render partial: 'table', locals: { attributes: @attributes } %>
<% else %>
  <p class="nodata"><%=t('permission.denied.message')%></p>
<% end %>
