<% if User.current.allowed_to?(:project_view_equipments, nil, :global => true) %>
  <% allow_edit = User.current.allowed_to?(:project_edit_equipments, nil, :global => true) %>
  <div class="contextual">
    <%= link_to(t('equipment.action.new.title'), {:controller => 'equipments', :action => 'new'}, :class => 'icon icon-add') if allow_edit %>
    <%= link_to(t('equipment.action.edit.title'), {:controller => 'equipments', :action => 'edit', :id => @equipment.id}, :class => 'icon icon-edit') if allow_edit && !@equipment.blank? %>
    <%= delete_link({ :controller => 'equipments', :action => 'destroy', :id => @equipment.id}, class: 'icon icon-only icon-del', title: l(:button_delete)) if allow_edit && !@equipment.blank? %>
  </div>
  <% content_for :sidebar do %>
    <ul id="options">
      <li><%= link_to(t('equipment.action.new.title'), {:controller => 'equipments', :action => 'new'}, :class => 'icon icon-add') if allow_edit %></li>
      <li><%= link_to(t('equipment.action.edit.title'), {:controller => 'equipments', :action => 'edit', :id => @equipment.id}, :class => 'icon icon-edit') if allow_edit && !@equipment.blank? %></li>
      <li><%= delete_link({ :controller => 'equipments', :action => 'destroy', :id => @equipment.id}, class: 'icon icon-only icon-del', title: l(:button_delete)) if allow_edit && !@equipment.blank? %></li>
    </ul>
  <% end %>
  <h2><%= t('equipment.action.show.title') %></h2>
  <% if !@equipment.blank? %>
    <p>
      <%= t('equipment.attr.organization') %>:
      <%= link_to(@equipment.organization.name, {:controller => 'organizations', :action => 'show', :id => @equipment.organization_id}, :class => 'fas fa-info-circle field-lookup') if !@equipment.organization_id.blank? %>
    </p>
    <p>
      <%= t('equipment.attr.parent') %>:
      <%= link_to(@equipment.parent, {:controller => 'equipments', :action => 'show', :id => @equipment.parent_id}, :class => 'fas fa-info-circle field-lookup') if !@equipment.parent_id.blank? %>
    </p>
    <p>
      <%= t('equipment.attr.equipment_type') %>:
      <%= link_to @equipment.equipment_type.name, {:controller => 'equipment_types', :action => 'show', :id => @equipment.equipment_type_id}, :class => 'fas fa-info-circle field-lookup' %>
    </p>
    <p><%= t('equipment.attr.vendor_model') %>:
      <%= link_to @equipment.vendor_model.vendor.name, {:controller => 'vendors', :action => 'show', :id => @equipment.vendor_model.vendor_id}, :class => 'fas fa-info-circle field-lookup' %>,&nbsp;
      <%= link_to @equipment.vendor_model.name, {:controller => 'vendor_models', :action => 'show', :id => @equipment.vendor_model_id}, :class => 'fas fa-info-circle field-lookup' %>
    </p>
    <p>
      <%= t('equipment.attr.owner_type') %>:
      <%= link_to t("owner_type.#{@equipment.owner_type.downcase}", count:1), {:controller => @equipment.owner_type.downcase+'s', :action => 'index'}, :class => 'fas fa-info-circle field-lookup' %>
    </p>
    <p>
      <%= t('equipment.attr.owner') %>:
      <%= link_to @equipment.owner.to_s, {:controller => @equipment.owner_type.downcase+'s', :action => 'show', :id => @equipment.owner_id}, :class => 'fas fa-info-circle field-lookup' %>
    </p>
    <p>
      <%= t('equipment.attr.location_type') %>:
      <%= link_to t(@equipment.location_type.downcase+'.title',count:1), {:controller => location_controller_name(@equipment.location_type), :action => 'index'}, :class => 'fas fa-info-circle' %></td>
    </p>
    <p>
      <%= t('equipment.attr.location') %>:
      <%= link_to @equipment.location.to_s, {:controller => location_controller_name(@equipment.location_type), :action => 'show', :id => @equipment.location_id}, :class => 'fas fa-info-circle' %>
    </p>
    <p>
      <%= t('equipment.attr.number') %>:
      <%= @equipment.number %>
    </p>
    <p>
      <%= t('equipment.attr.sn') %>:
      <%= @equipment.sn %>
    </p>
    <p>
      <%= t('equipment.attr.state') %>:
      <i class="fa fa-<%= @equipment.state_icon if !@equipment.state.blank? %>" title="<% @equipment.state_title %>"></i>
    </p>
    <p>
      <%= t('equipment.attr.warranty_end') %>:
      <%= @equipment.warranty_end.to_date unless @equipment.warranty_end.blank? %>
    </p>
    <p>
      <%= t('equipment.attr.consignment_note') %>:
      <%= link_to(@equipment.consignment_note.to_s, {:controller => 'consignment_notes', :action => 'show', :id => @equipment.consignment_note_id}, :class => 'fas fa-info-circle field-lookup') if !@equipment.consignment_note_id.blank? %>
    </p>
    <p>
      <%= t('equipment.attr.description') %>:
      <%= @equipment.description %>
    </p>
    <p>
      <%= t('equipment.attr.created_at') %>:
      <%= @equipment.created_at %>
    </p>
    <p>
      <%= t('equipment.attr.updated_at') %>:
      <%= @equipment.updated_at %>
    </p>
    <hr/>
    <%= render partial: 'attributes', locals: { attributable_type: 'Equipment', attributable_id: @equipment.id, attributes: @equipment.attribute_values } %>
    <hr/>
    <div class="contextual">
      <%= link_to(t('service.action.new.title'), {:controller => 'services', :action => 'new', :equipment => @equipment.id}, :class => 'icon icon-add') if User.current.allowed_to?(:project_edit_equipments, @project, global: false) %>
    </div>
    <%= render partial: 'services/table', locals: { services: @equipment.services, equipment: @equipment.id } %>
    <hr/>
    <%= render partial: 'childs', locals: { equipments: @children, parent_id: @equipment.id } %>
  <% end %>
  <%= link_to t('button_cancel'), path_back_or_default %>
<% else %>
  <p class="nodata"><%=t('data.empty.message')%></p>
<% end %>