<% if User.current.allowed_to?(:project_view_catalogs, @project, :global => false) %>
  <div class="contextual">
    <%= link_to(t('store.action.new.title'), {:controller => 'stores', :action => 'new'}, :class => 'icon icon-add') if User.current.allowed_to?(:project_edit_catalogs, @project, :global => false) %>
    <%= link_to(t('catalog.title', count: 2), {:controller => 'equipments', :action => 'catalogs'}, :class => 'icon icon-folder') %>
    <%= link_to(t('catalog.global.title', count: 2), {:controller => 'catalogs', :action => 'index'}, :class => 'icon icon-list') if User.current.allowed_to?(:global_view_catalogs, nil, :global => true) %>
  </div>

  <h2><%= t('store.title', count: 2) %></h2>

  <%= render partial: 'table', locals: { stores: @stores } %>
<% else %>
  <p class="nodata"><%=t('permission.denied.message')%></p>
<% end %>
