<%= error_messages_for 'room_tenant' %>

<%= labelled_form_for room_tenant, url: { controller: :room_tenants, action: action } do |f| %>
  <div class='box tabular'>
    <p><%= f.select(:room_id, options_for_select(@rooms.map { |a| [a.to_s_short, a.id] }, room_tenant.room_id), :label => t('room_tenant.attr.room')) %></p>
    <p><%= f.select(:organization_id, options_for_select(@organizations.map { |a| [a.name, a.id] }, room_tenant.organization_id), :label => t('room_tenant.attr.organization')) %></p>
    <p><%= f.date_field :start_date, :label => t('room_tenant.attr.start_date') %></p>
    <p><%= f.date_field :end_date, :label => t('room_tenant.attr.end_date') %></p>
    <p><%= f.text_area :description, cols: 60, rows: 15, class: 'wiki-edit', :label => t('room_tenant.attr.description') %></p>
  </div>

  <%= f.submit t('button_save') %>
<% end %>
<%= wikitoolbar_for 'room_tenant_description' %>
<script>
    $(document).ready(function() {
        let lists = [
            {id: '#room_tenant_room_id', allowClear: false, disabled: false /*<%=!@room.blank?%>*/},
            {id: '#room_tenant_organization_id', allowClear: false, disabled: false}
        ];
        initSelects(lists);
    });
</script>