<div class="contextual">
  <%= link_to(t('room_tenant.action.new.title'), {:controller => 'room_tenants', :action => 'new', :room => room}, :class => 'icon icon-add') if User.current.allowed_to?(:global_edit_catalogs, nil, :global => true) %>
  <%= link_to(t('catalog.title', count: 2), {:controller => 'catalogs', :action => 'index'}, :class => 'icon icon-list') if room.blank? && project.blank? %>
</div>

<h2><%= t('room_tenant.title', count: 2) %></h2>

<table class="list">
  <thead>
    <tr>
      <%= sort_header_tag('room', caption: t('room_tenant.attr.room')) if room.blank? %>
      <%= sort_header_tag('organization', caption: t('room_tenant.attr.organization')) %>
      <%= sort_header_tag('start_date', caption: t('room_tenant.attr.start_date')) %>
      <%= sort_header_tag('end_date', caption: t('room_tenant.attr.end_date')) %>
      <th><%= t('room_tenant.attr.description') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% room_tenants.each do |t| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <% if room.blank? %>
      <td>
        <%= link_to t.room.to_s_short, {:controller => 'rooms', :action => 'show', :id => t.room.id}, :class => 'fas fa-info-circle' %>
      </td>
      <% end %>
      <td>
        <%= link_to t.organization.name, {:controller => 'organizations', :action => 'show', :id => t.organization.id}, :class => 'fas fa-info-circle' %>
      </td>
      <td><%= t.start_date %></td>
      <td><%= t.end_date %></td>
      <td><%= t.description %></td>
      <td class="action">
        <%= link_to l(:button_copy), {:controller => 'room_tenants', :action => 'copy', :id => t.id}, :class => 'icon icon-only icon-copy', :title => l(:button_copy), :accesskey => accesskey(:copy) %>
      </td>
      <td class="action">
        <%= link_to l(:button_edit), {:controller => 'room_tenants', :action => 'edit', :id => t.id}, :class => 'icon icon-only icon-edit', :title => l(:button_edit), :accesskey => accesskey(:edit), :onclick => 'Element.show("edit-rooms"); return false;' %>
      </td>
      <td class="action">
        <%= delete_link({ :controller => 'room_tenants', :action => 'destroy', :id => t.id}, class: 'icon icon-only icon-del', title: l(:button_delete)) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if !pages.blank? && !count.blank? %>
<span class='pagination'><%= pagination_links_full pages, count %></span>
<% end %>