<%= labelled_form_for vendor_model, url: { controller: :vendor_models, action: action } do |f| %>
  <div class='box tabular'>
    <p><%= f.select(:equipment_type_id, vm_equipment_type_options_for_select(vendor_model.equipment_type_id), :label => t('vendor_model.attr.equipment_type')) %></p>
    <p><%= f.select(:vendor_id, options_for_select(@vendors.map { |a| [a.name, a.id] }, vendor_model.vendor_id), :label => t('vendor_model.attr.vendor')) %></p>
    <p><%= f.text_field :name, :label => t('vendor_model.attr.name') %></p>
    <p><%= f.text_field :pn, :label => t('vendor_model.attr.pn') %></p>
    <p><%= f.text_field :site, :label => t('vendor_model.attr.site') %></p>
  </div>

  <%= f.submit t('button_save') %>
<% end %>
<script>
    $(document).ready(function() {
        let ddl = [{id: '#vendor_model_equipment_type_id', allowClear: false, disabled: false},
            {id: '#vendor_model_vendor_id', allowClear: false, disabled: false}];
        initSelects(ddl);
    });
</script>