<%= error_messages_for 'service_result' %>

<%= labelled_form_for service_result, url: { controller: :service_results, action: action } do |f| %>
  <div class='box tabular'>
    <p><%= f.select(:service_id, options_for_select(@services.map { |a| [a.to_s, a.id] }, service_result.service_id), :label => t('service_result.attr.service')) %></p>
    <p><%= f.select(:service_result_type_id, options_for_select(@service_result_types.map { |a| [a.to_s, a.id] }, service_result.service_result_type_id), :label => t('service_result.attr.service_result_type')) %></p>
    <p><%= f.select(:responsible_id, options_for_select(@users.map { |a| [a.to_s, a.id] }, service_result.responsible_id), {:include_blank => true, :label => t('service_result.attr.responsible')}) %></p>
    <p><%= f.date_field :date, :label => t('service_result.attr.date') %></p>
    <p><%= f.text_field :value, :label => t('service_result.attr.value') %></p>
    <p><%= f.text_area :description, cols: 60, rows: 15, class: 'wiki-edit', :label => t('service_result.attr.description') %></p>
  </div>

  <% if service_result.attachments.exists? %>
    <div class="box">
      <p>
        <label><%= l(:label_attachment_plural) %></label>
        <%= link_to_attachments service, :thumbnails => true, :author => false %>
      </p>
    </div>
  <% end %>

  <div class="box">
    <p><label><%=l(:label_attachment_add)%></label><%= render :partial => 'attachments/form' %></p>
  </div>

  <%= f.submit t('button_save') %>
<% end %>
<%= wikitoolbar_for 'service_description' %>
<script>
    $(document).ready(function() {
        let lists = [
            {id: '#service_result_service_id', allowClear: false, disabled: <%= service.blank? ? true : false %> },
            {id: '#service_result_type_id', allowClear: false, disabled: false },
            {id: '#service_result_responsible_id', allowClear: true, disabled: false}
        ];
        initSelects(lists);
    });
</script>