<%= labelled_form_for room, url: { controller: :rooms, action: action } do |f| %>
  <div class='box tabular'>
    <p>
      <%= f.label('room_address_id', t('address.title', count: 1)) %>
      <%= select_tag('room_address_id', options_for_select(@addresses.map { |a| [a.name, a.id] }, room.floor.blank? ? nil : room.floor.address_id), :label => t('room.attr.floor')) %>
    </p>
    <p><%= f.select(:floor_id, options_for_select(@floors.map { |a| [a.name, a.id] }, room.floor_id), :label => t('room.attr.floor')) %></p>
    <p><%= f.text_field :number, :label => t('room.attr.number') %></p>
    <p><%= f.text_area :description, cols: 60, rows: 15, class: 'wiki-edit', :label => t('room.attr.description') %></p>
  </div>

  <%= f.submit t('button_save') %>
<% end %>
<%= wikitoolbar_for 'room_description' %>
<script>
  $(document).ready(function() {
    let ddl = [{id:'#room_address_id', allowClear: false, disabled: false},
               {id:'#room_floor_id', allowClear: false, disabled: false}];
    initSelects(ddl);
    let pa = [{id:'#room_address_id',child:'#room_floor_id', method: 'update_floors', var: 'address_id'}]
              //{id:'location',child:'location'}];
    pa.forEach(function(p) {
        let prms = {
            parentId:p.id[0]=='#' ? p.id : '#room_'+p.id+'_type',
            methodName: p.method ?? ('update_'+p.child+'s'),
            variableName: p.var ?? (p.id+'_type'),
            childId: p.child[0]=='#' ? p.child : '#room_'+p.child+'_id',
            disableChild: true};
        initCascadingSelect(prms);
    });
  });
    //$(document).ready(function() {
    //    initCascadingSelect({parentId:'#room_address_id', methodName: 'update_floors', variableName: 'address_id', childId: '#room_floor_id'});
    //});
</script>
