<% if User.current.allowed_to?(:global_view_catalogs, nil, :global => true) %>
  <div class="contextual">
    <%= link_to(t('equipment_type.action.new.title'), {:controller => 'equipment_types', :action => 'new'}, :class => 'icon icon-add') if User.current.allowed_to?(:global_edit_catalogs, nil, :global => true) %>
    <%= link_to(t('catalog.global.title', count: 2), {:controller => 'catalogs', :action => 'index'}, :class => 'icon icon-list') %>
  </div>

  <h2><%= t('equipment_type.title', count: 2) %></h2>

  <%= render partial: 'table', locals: { equipment_types: @equipment_types } %>
<% else %>
  <p class="nodata"><%=t('permission.denied.message')%></p>
<% end %>
